<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
<div class="signupform">
  <%= render 'shared/error_messages'%>
  <p class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </p>
  <p class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="actions">
    <%= f.submit "Sign up" %><br />
   
  </p>
</div>
<% end %>
